<!DOCTYPE html>

{% macro render_field(field) %}
{{ field.label(class_="control-label") }} {{ field(class_="controls", **kwargs)|safe }}

{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

<html lang="en">
<head>
    <title>Python Package Watcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet media="screen" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet media="screen" type=text/css href="{{ url_for('static', filename='css/bootstrap-sortable.css') }}">
    <link rel=stylesheet media="screen" type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="container">
    <div class="row-fluid">
        <div class="span2 text-center">
            <img src="{{ url_for('static', filename='img/python-logo-master-v3-TM.png') }}" width="200px" class="img-rounded main-logo">
        </div>
        <div class="span10 text-center">
            <h2> Watched Packages </h2>
            {% if not logged_in %}
            <div class="span12">
                <a data-toggle="modal" title="Login" class="open-login-modal" href="#openLoginModal">Login</a>
            </div>
            <div class="span12">
                <a data-toggle="modal" title="Register" class="open-register-modal" href="#openRegisterModal">Register</a>
            </div>
            {% else %}
            <div class="span12">
                <a href="{{ url_for('views.logout') }}">
                    Log Out
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if all_packages %}
                <table class="table sortable">
                    <thead>
                    <th> <div class="text-center"> Package Name </div> </th>
                    <th> <div class="text-center" data-defaultsort='disabled'> Your Package Version </div> </th>
                    <th> <div class="text-center" data-defaultsort='disabled'> Latest Package Version </div> </th>
                    <th> <div class="text-center"> Old? </div> </th>
                    <th> <div class="text-center"> Python 3 Compatible? </div> </th>
                    </thead>
                    <tbody>
                    {% for package in all_packages %}
                    <tr class="{% if package.is_old %}warning{% else %}success{% endif %}" data-package-name="{{ package.package_name }}" data-url="{{ url_for('views.update_package', package_name=package.package_name) }}">
                        <td>
                            <div class="text-center">
                                <a href="{{ package.package_url }}" target="_blank">
                                    {{ package.package_name }}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{ package.version }}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <b> {{ package.latest_version }} </b>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <b>
                                {% if package.is_old %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                </b>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <b> {{ package.python3_compat }} </b>
                            </div>
                        </td>
                            <td class="edit-button">
                                <a data-toggle="modal" title="Edit" class="open-edit-modal" href="#openEditModal">
                                <div class="text-center">
                                    <i class="icon-edit"></i>
                                </div>
                                </a>
                            </td>
                        <td>
                            <a class="remove-button" href="#">
                                <div class="text-center">
                                    <i class="icon-remove"></i>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-center">
                    <strong> Not watching any packages yet! </strong>
                </p>
            {% endif %}
        </div>
    </div>
    {% if logged_in %}
    <div class="row-fluid text-center">
        <div class="row-fluid">
            <div class="span12">
                <h4> Add new package </h4>
            </div>
        </div>
        <form method="post" action="/" class="form-horizontal">
            <div class="span12">
                {% if error_msg %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>
                            {{ error_msg }}
                        </strong>
                    </div>
                {% endif %}
                <div class="control-group">
                    {{ render_field(form.package_name) }}
                </div>
                <div class="control-group">
                    {{ render_field(form.package_version) }}
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <button type="submit" class="btn btn-large btn-primary"> Add Package </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid text-center">
        <div class="span12">
            <a data-toggle="modal" title="Upload File" class="open-fileupload-modal" href="#uploadFileModal">Upload requirements-file</a>
        </div>
    </div>
    {% endif %}
</div>
<div class="modal hide" id="openEditModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Edit Package - <span id="package_name" /></h3>
    </div>
    <div class="modal-body">
        <form method="post" action="" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="new_package_version">New Version</label>
                <input class="controls" type="text" name="new_package_version" id="new_package_version" value=""/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>

<div class="modal hide" id="openRegisterModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Register</h3>
    </div>
    <div class="modal-body">
        <form method="post" action="{{ url_for('views.register') }}" class="form-horizontal" id="registration_form">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <input class="controls" type="text" name="email" id="email" value=""/>
            </div>
                <label class="control-label" for="password">Password</label>
                <input class="controls" type="password" name="password" id="password" value=""/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>

<div class="modal hide" id="openLoginModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <form method="post" action="{{ url_for('views.login') }}" class="form-horizontal" id="login_form">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <input class="controls" type="text" name="email" id="email" value=""/>
            </div>
                <label class="control-label" for="password">Password</label>
                <input class="controls" type="password" name="password" id="password" value=""/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Go!</button>
    </div>
</div>

<div class="modal hide" id="uploadFileModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Upload a requirements file</h3>
    </div>
    <div class="modal-body">
        <form method="post" action="{{ url_for('views.upload_file') }}"  enctype="multipart/form-data" class="form-horizontal" id="upload_file_form">
            <div class="control-group">
                <input type="file" name="file" id="file" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-sortable.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>